@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: 34, 197, 94; /* Green */
  --secondary-color: 239, 68, 68; /* Red */
  --background-color: 29, 39, 54; /* Navy */
  --text-color: 255, 255, 255; /* White */
}

body {
  color: rgb(var(--text-color));
  background-color: rgb(var(--background-color));
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@layer utilities {
  .custom-btn {
    @apply px-4 py-2 bg-green-500 text-white font-bold rounded-lg transition-colors;
    &:hover {
      @apply bg-green-600;
    }
  }

  input,
  textarea,
  select {
    @apply bg-gray-700 border border-gray-600 rounded-md shadow-sm focus:border-green-500 focus:ring focus:ring-green-200 focus:ring-opacity-50;
  }

  .custom-checkbox {
    @apply rounded border-gray-600 text-green-600 focus:border-green-500 focus:ring focus:ring-green-200 focus:ring-opacity-50;
  }
}

.markdown-content p {
  @apply my-2 text-base leading-relaxed text-gray-800;
}

.markdown-content li {
  @apply mb-1 list-disc list-inside;
}